body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    
    font-size: 50px;
}
.highlight-text{
    color: rgb(180, 36, 96);
}
img{
    width: 100%;
}
section{
    height: 500px;
    padding: 160px;
}
.top-section{
    padding: 160px;
    background-image: url("images/header-bg.png");
    
}
.middle-section{
    background-image: url("images/biography-bg.png");

}

.left-margin{
   
}
.half-width{
    width: 50%;
    float: left;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    background-color: purple;
    border-radius: 5px;
}
.exp-div img{
  
    width: 100%;
    padding: 5px;
}
.exp-div{
    width: 30%;
    margin-left: 30px;
    float: left;
}
p{
    margin-bottom: 30px;
}
.latest-work{
    text-align: center;
}
.last-section{
    background-image: url("images/footer-bg.png");
    text-align: center;
}